<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="menu">

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Menú</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link active" th:text="#{menu.home}" aria-current="page" th:href="@{/}" href="index.html">menú</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" th:text="#{menu.noticias}" th:href="@{/noticias/list}"
                href="../noticias/list.html">Noticias</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                &#127760;
              </a>
              <div class="dropdown-menu">
                <!-- th:href="@{/login/welcome?lang_config=es}"
                     th:href="@{/login/welcome?lang_config=en}"
                -->
                <a class="dropdown-item" href="#"
                  th:text="#{menu.idioma.espanol}">Español</a>
                <a class="dropdown-item" href="#"
                  th:text="#{menu.idioma.ingles}">Inglés</a>
              </div>
            </li>
          </ul>
          <ul th:if="${session.usuario}">
            
          </ul>
          <ul th:unless="${session.usuario}" class="container">
            <form class="d-flex" style="width: 18em;" th:action="@{/noticias/login}" method="post">
                <div class="mb-3">
                <label for="exampleInput1" class="form-label">Usuario</label>
                <input  type="text" class="form-control" name="nombre" id="exampleInput1">
                </div>
                <div class="mb-3">
                <label for="exampleInput1" class="form-label">Contraseña</label>
                <input  type="password" class="form-control" name="contrasena" id="exampleInput1">
                </div>          
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </ul>

          <!-- th:text="${session.usuario.nombre}" -->
          <a th:if="${session.usuario}" th:href="@{/noticias/logout}" href="#"><i class="bi bi-box-arrow-left" th:text="${session.usuario.nombre}"></i></a>
        </div>
      </div>
    </nav>

</body>

</html>