<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <div th:replace="commons/menu :: menu" />

  <div class="container">
  

    <!-- Aqui que slaga boton crear cuando sea admin (name) -->
        <h1 th:text="#{noticias.list.titulo}">Noticias</h1>
        <a class="btn btn-primary" th:text="#{noticias.list.nuevaNoticia}" th:href="@{/noticias/create}" href="new.html"
        role="button">
        Crear</a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" th:text="#{noticias.list.codigo}">Codigo</th>
          <th scope="col" th:text="#{noticias.list.nombre}">Titular</th>
          <th scope="col" th:text="#{noticias.list.apellidos}">Descripcion</th>        
          <th scope="col">---</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="noticia : ${noticias}">
          <th scope="row" th:text="${noticia.codigo}">#</th>
          <td th:text="${noticia.titular}">---</td>
          <td th:text="${noticia.descripcion}">---</td>        
          <td>          
            <a class="btn btn-primary" th:text="#{noticias.list.editar}" th:href="@{/noticias/edit?codigo=}+${noticia.codigo}" href="edit.html"
              role="button">
              Editar</a>
            <a class="btn btn-primary" th:href="@{/noticias/delete/}+${noticia.codigo}" href="#" role="button"><i class="bi bi-trash" th:text="#{noticias.list.borrar}"></i>Borrar</a>
          </td>
        </tr>
      </tbody>
    </table>
    <h5 th:text="#{clientes.list.pie}"></h5>
  </div>

  <div th:replace="commons/footer :: footer" class="container" />
</body>

</html>